html {
    font-size: 16px;
    font-family: sans-serif;
    background: #111;
    color: #eee;
    line-height: 1.4;
}
body {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background: #181818;
}
a:link, a:visited, a:active {
    color: #ccc;
}
h1, h2 {
    margin: 0.2em 0;
}
